:root {
    --var: 16;
}

.squaresmain{
    display:flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    border: 2px solid red;
    align-content:start;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
    gap:20px;
}


.box{
    height:calc(700px / var(--var));
    width:calc(700px / var(--var));
    border: 2px solid black;
    box-sizing: border-box;

}